@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

* {
  font-family: 'NTR', sans-serif;
}

.student_row {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: fit-content;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}